{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@elements": "./src/elements",
          "@images": "./src/images",
          "@designtokens": "./cwo-designtokens",
          "@styles": "./src/css",
          "@customTypes": "./src/custom-types",
          "@fakeData": "./fake-data",
          "@dummyImages": "./fake-data/images"
        }
      }
    ]
  ]
}
