/* Positioning */
.absolute-center-x {
  @apply absolute -translate-x-1/2;
  left: 50%;
}
.absolute-center-y {
  @apply absolute -translate-y-1/2;
  top: 50%;
}
.absolute-center {
  @apply absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Grungy BGs */
.bg-grungy-light {
  background-image: url("../images/grunge-light.png");
}

.bg-grungy-dark {
  background-image: url("../images/grunge-dark.png");
}

.bg-grungy-primary {
  background-image: url("../images/grunge-primary.png");
}

.text-shadow {
  text-shadow: 0px 0px 5px #ad1f1f;
}
