@font-face {
  font-family: "DaysLater";
  src: url("./fonts/28dayslater/bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display uppercase tracking-wider;
}

a {
  @apply transition-colors duration-150 ease-in-out;
}

a:hover {
  @apply text-primary-400;
}

::-moz-selection {
  @apply bg-primary-600 !important;
  @apply text-white !important;
}
::selection {
  @apply bg-primary-600 !important;
  @apply text-white !important;
}
